@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", serif;
    font-size: 16px;
}

a:visited, a:link {
    color: white;
}

.container {
    display: block;
    width: 100%;
    height: 100vh;
}

.wrapper {
    height: 100%;
}

.navigation {
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(120, 95, 233);
    max-height: 110px;
}

.lk-header {
    font-size: 50px;
    padding: 30px 50px;
}

.left-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-bar>.lk-text {
    margin-left: 42px;
    color: white;
    cursor: pointer;
    padding: 30px 50px;
    font-size: 24px;
    font-weight: 500;
    border-left: solid 1px white;
    border-right: solid 1px white;
}

.right-bar {
    display: flex;
    font-size: 18px;
    padding: 35px;
}

.profile {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 10px;
    border-radius: 10px;
    margin: 0 auto;
}



.lk-text, .dropdown-arrow {
    color: black;
}

.avatar-bar {
    width: 35px;
    height: 35px;
    border-radius: 60px;
    margin-right: 14px;
}


.circle {
    width: 35px;
    height: 35px;
    background: #828282;
    border-radius: 60px;
    margin-right: 14px;
}

.dropdown {
    display: none;
    flex-direction: column;
    padding: 15px;
    margin: 18px 0;
    position: absolute;
    right: 165px;
    top: 70px;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    border-radius: 10px;
}

.dropdown>a {
    color: black;
    padding: 10px;
}

.dropdown-arrow {
    font-size: 18px;
    margin: 0 10px;
}

.right-bar:hover .dropdown{
    display: flex;
}



.modal {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 11.5%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.245);
}

.modal-cont {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}

.form-elem {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.form-label {
    margin-bottom: 10px;
}

.form-control {
    padding: 5px 10px;
    margin: 20px 0 10px;
    min-width: 400px ;
    border: 1px solid rgb(137, 137, 137);
    border-radius: 5px;
}

.form-title {
    font-size: 24px;
    margin-bottom: 30px;
}

.close-text {
    margin-left: 60px;
    font-size: 14px;
    cursor: pointer;
}

.dis {
    display: none;
}

.hide {
    overflow: hidden;
}

.submit-btn {
    margin-top: 15px;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(107, 81, 253);
    color: white;
    font-size: 16px;
    min-width: 120px;
}

.submit-btn[disabled] {
    background-color: rgb(205, 205, 205);
    color: black;
}

.submit-btn:hover {
    transition: 0.3s;
    background-color: rgb(205, 205, 205);
    color: black;
}

.form-text {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.user-select {
    padding: 10px;
    margin-bottom: 10px;
    min-width: 400px;
    background-color: white;
    box-shadow: none;
    border: 1px solid black;
    border-radius: 5px;
}
